
 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.cabecalho {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header {
    padding-bottom: 80px;
}

.cabecalho a {
    float: left;
    color: whitesmoke;
    text-align: center;
    transition: all 0.3s ease;
    padding: 17px 17px;
    text-decoration: none;
    font-size: 17px;
}

.cabecalho a:hover {
    background-color: whitesmoke;
    color: black;
}

.cabecalho a.ativo {
    background-color: green;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: whitesmoke;
    text-align: center;
}

.footer p {
    display: inline-flex;
    padding-right: 20px;
    font-size: 17px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
}

#logo {
    float: left;
    height: 50px;
    width: 50px;
    padding: 5px;
}


input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

#enviar {
    width: 100%;
    background-color: seagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

#enviar:hover {
    background-color: green;
    transition: all 0.3s ease;
}

.cadastro {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
}

body{
    font-family: 'Lato', sans-serif;
}

footer{
    padding-top: 80px;
}

.imagens{
    display: inline-flex;
    overflow: hidden;
    padding-left: 2%;
}

.imagens img{
    width: 50%;
    padding-left: 10px;

}

.h1{
    text-align: center;
}

.h2{
    text-align: center;
}

.quadro{
    background: linear-gradient(90deg, rgb(165, 165, 165), rgb(204, 204, 204) 100%);
    padding: 3%;
    font-size: 1.8vw;
    color: whitesmoke;
    margin-inline-start: 15%;
    display: inline-flex;
    margin-bottom: 2%;
}

.jogos{
    display: inline;
    
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .h3{
    text-align: center;
  }

  .parceiros {
    display: flex;
    justify-content: center;
    overflow: auto;
  }

  .parceiros img{
    padding-left: 20px;
    height: 180px;
    width: 320px;
  }

  .quadro img{
    width: 200px;
    height: 305px;
    padding-right: 25px;
  }

  .comprar{
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
  }